.inventory {

    &__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 40px 24px 40px;
    }

    &__header-title {
        display: none;
    }

    &__input {
        display: none;
    }

    &__search-icon {
        display: none;
    }

    &__add-button {
        display: none;
    }
   
}

.inventory .inventory__list-mobile {
    padding: 0 1rem;
}