//Primary Colors
$globalText: #13182C;
$interactiveElements: #2E66E5;
$white: #FFFFFF;

//Secondary Colors
$tableHeader: #5C667E;
$placeholder: #5C667E;
$oultines: #BDC5D5;
$dividers: #BDC5D5;
$borders: #BDC5D5;
$sort: #BDC5D5;


//Background Colors
$navHeader: #232940;
$buttonHover: #232940;
$pageBackground: #F7F8F9;
$tableHeader-background: #F7F8F9;
$ctaBackground: #F7F8F9;

//Supporting Colors
$inStock: #158463;
$outOfStock: #C94515;
$error: #C94515;
$delete: #C94515;
