@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.AddWarehouse {
    border-radius: 0.1875rem;
    background: $white;
    padding: 2rem 1.5rem;
    padding: 8.5rem 1rem 0rem 1rem;
    color: $globalText;

    /* Card Shadow */
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.10);

    @include tablet {
        padding: 5.75rem 2rem 0 2rem;
    }

    @include tablet {
        max-width: 1020px;
        margin: 0 auto;
    }

    &__container {
        //border-bottom: 1px solid $borders;
        display: flex;
        gap: 0.5rem;
        padding-left: 1.5rem;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            top: 12.3rem;
            width: 100%;
            height: 1px;
            background-color: $borders;

            @include tablet {
                top: 10rem;
            }
        }
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2.25rem;
        padding-bottom: 1.5rem;
    }

    &__back-icon {

        margin-top: 0.4rem;
    }

    &__details-container {
        padding: 1rem 1.5rem;

        @include tablet {
            padding: 1.5rem 2rem;
        }

    }

    &__sub-title {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        padding-bottom: 1.5rem;

        @include tablet {
            padding-bottom: 2rem;
        }
    }

    input {
        border-radius: 1.25rem;
        border: 1px solid $borders;
        background: $white;
        width: 100%;
        margin-bottom: 1rem;
        height: 2.25rem;
        flex-shrink: 0;
        padding-left: 1rem;

        &::placeholder {
            font-size: 0.8125rem;
            line-height: 1.25rem;
            color: $placeholder;
        }
    }

    label {
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.25rem;
        margin-bottom: 0.25rem;
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
        border-radius: 0rem 0rem 0.1875rem 0.1875rem;
        background: rgba(247, 248, 249, 0.70);
        height: 4.25rem;
        padding: 0;

        @include tablet{
            justify-content: flex-end;
        }
    }

    &__cancel-btn {
        border-radius: 1.25rem;
        border: 1px solid $borders;
        font-weight: 600;
        background: $white;
        height: 2.25rem;
        width: 50%;
        color: $placeholder;
        align-items: center;

        @include tablet {
            height: 2.375rem;
            width: 4.5rem;
        }
    }

    &__add-btn {
        border-radius: 1.25rem;
        background: var(--Instock-Indigo, #2E66E5);
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.25rem;
        height: 2.25rem;
        width: 50%;
        border: none;
        color: $white;
        align-items: center;

        @include tablet {
            height: 2.375rem;
            width: 8.625rem;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.375rem
        }
    }

    &__warehouse {
        //border-bottom: 1px solid $borders;
        margin-top: 1.5rem;

        @include tablet {
            margin-top: 0;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            top: 37.15rem;
            width: 100%;
            height: 1px;
            background-color: $borders;

            @include tablet {
                display: none;
            }
        }
    }

    &__contact-container {
        margin-top: 1rem;

        @include tablet {
            width: 50%;
            margin-top: 0;
        }
    }

    &__subcontainer {
        @include tablet {
            display: flex;
            gap: 2rem;
            width: 100%;
        }
    }

    &__warehouse-container {
        @include tablet {
            width: 50%;
            padding-right: 2rem;
            border-right: 1px solid $borders;
            ;
        }
    }

}