@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.inventory {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 40px 24px 40px;

    @include tablet {
      // width: 44rem;
      font-size: 0.875rem;
      display: flex;
      flex-direction: row;
    }

    &__header-title {
      color: $globalText;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      @include tablet {
        font-size: 2rem;
      }
    }

    & input {
      width: 274px;
      height: 38px;
      flex-shrink: 0;
      border-radius: 20px;
      border: 1px solid $oultines;
      background: $white;
      padding: 0px 16px;
      @include tablet {
        width: 11.5625rem;
      }
    }

    & button {
      width: max-content;
      color: $white;
      border: none;
      display: inline-flex;
      padding: 8px 16px;
      align-items: center;
      border-radius: 20px;
      background: $interactiveElements;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 8px;
  }

  &__title {
    flex: 1;
    padding: 8px;
    text-align: center;
  }


  &__header__search {
    align-items: center;
    width: max-content;
    display:flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px;

    @include tablet {
        display:flex;
        flex-direction: row;
    }

  
  }


  
}






.inventory-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 8px;

  &__item {
    flex: 1;
    padding: 8px;
    text-align: center;
  }
}
