@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;


body {
  background: linear-gradient(to bottom,
          #232940 0%,
          #232940 17%,
          #F7F8F9 17%,
          #F7F8F9 100%) !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100vh !important;

  @include tablet {
      background: linear-gradient(to bottom,
              #232940 0%,
              #232940 18.3%,
              #F7F8F9 18.3%,
              #F7F8F9 100%) !important;
  }

  @include desktop {
      background: linear-gradient(to bottom,
              #232940 0%,
              #232940 21.5%,
              #F7F8F9 21.5%,
              #F7F8F9 100%) !important;
  }

}

.inventoryItem {
  // border-top: solid 1px $dividers;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web";
  height: 90vh;
  // &:hover {
  //   background-color: $pageBackground;
  // }

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__container {
    background-color: white;
    border-radius: 5px;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding: 0 auto;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-bottom : 1px solid $dividers !important;

    @include tablet {
      height: 50%;
    }
  }
  &__top {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $dividers;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__right {
      display: flex;
      flex-direction: row;
      gap: 5px;
      cursor: pointer;

    }
  }

  &__name {

    @include tablet {
      padding-bottom: 0;
      width: max-content;
    }
  }

  &__topright {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: flex-end;
      cursor: pointer;
    }
  }

 
  &__button {
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    color: white;
    border-radius: 1.25rem;
    height: 2.25rem;
    background-color: $interactiveElements;
    border: none;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;

    gap: 5px;
    align-items: center;
    @include tablet {
      font-style: normal;
      font-weight: 400;
      line-height: 1.375rem;
      padding: 0.5rem 1rem;
      height: 2.375rem;
    }
    &:hover {
      background-color: $interactiveElements;
    }
    &__icons {
      width: 20px;
      height: 20px;
    }
  }
  &__categories {
    display: none;
    @include tablet {
      background-color: $pageBackground;
      height: 2.5rem;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__categoryAndArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21.25%;
    &-sort {
      cursor: pointer;
    }
    // @include desktop {
    //     width: 22.5%;
    // }
  }
  &__category {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $tableHeader;
    &--right {
      text-align: right;
      font-style: normal;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.125rem;
      width: 15%;
      color: $tableHeader;
      // @include desktop {
      //     width: 10%;
      // }
    }
  }
  &__sortArrow {
    padding-left: 0.25rem;
    height: 1rem;
  }
}


// detail

.detail {
  padding: 1.5rem;


  @include tablet {
    display: flex;
    flex-direction: row;
  }
  &__title {
      padding-bottom: 0.25rem;
      font-style: normal;
      font-size: 1rem;
      line-height: 1rem;
      color: $tableHeader;
      text-transform: uppercase;
  }
  
  &__stock {
    background: rgba(21, 132, 99, 0.07);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: var(--Green, #158463);
    padding: 0.25rem 0.5rem;
    border-radius: 1.25rem;
  }

  &__outofstock {
    background: rgba(201, 69, 21, 0.07);    
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: var(--Red, #C94515);
    padding: 0.25rem 0.5rem;
    border-radius: 1.25rem;
  }

  &__right {
    cursor: pointer;
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: space-between;  
      border-right: 1px solid $dividers;
      padding-right: 3rem;
      cursor: pointer;
    }
  }

  &__left {
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: space-between;  
      padding: 0rem 2rem;  
    }
  }
}

.flex-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  // & .block {
  //   @include tablet {
  //     margin: 0rem;
  //   }
  // }
}

.block {
  display: block;
  margin: 1.5rem 0rem;
  @include tablet {
    margin: 1rem 0rem;
  } 
  & p {
    margin-bottom : 0.5rem;
  }
}

// .inventory__nested {
//   padding: 0;
// }
