@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;



.warehouse {
  &__text {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 85%;
    }
    // @include desktop{
    //     width: 90%;
    // }
  }

  &__left {
    width: 50%;
    padding-right: 2rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 50%;
      padding-right: 0;
    }
  }

  &__right {
    width: 50%;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 50%;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    text-decoration: none;

    &::before {
      padding-bottom: 0.25rem;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 1rem;
      color: $tableHeader;
      content: "WAREHOUSE";

      @include tablet {
        display: none;
      }
    }
    @include tablet {
      width: 50%;
      justify-content: center;
      padding-bottom: 0;
    }
  }
  &__nameAndArrow {
    display: flex;
    align-items: center;
    flex-direction: row;
    &:hover .warehouse__rightArrow {
      transform: translate(4px);
    }
  }
  &__name {
    font-style: normal;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: $interactiveElements;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include tablet {
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.375rem;      
      font-weight: 600;
    }
  }

  &__rightArrow {
    height: 1.25rem;
    transition: transform 200ms;
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: $globalText;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    &::before {
      padding-bottom: 0.25rem;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 1rem;
      color: $tableHeader;
      content: "ADDRESS";
      @include tablet {
        display: none;
      }
    }
    @include tablet {
      width: 50%;
      justify-content: center;
      padding-bottom: 0;
      padding-right: 1rem;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
  &__contact {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: $globalText;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    &::before {
      padding-bottom: 0.25rem;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 1rem;
      color: $tableHeader;
      content: "CONTACT NAME";
      @include tablet {
        display: none;
      }
    }
    @include tablet {
      width: 50%;
      justify-content: center;
      padding-bottom: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
  &__contactinfo {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    &::before {
      padding-bottom: 0.25rem;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 1rem;
      color: $tableHeader;
      content: "CONTACT INFORMATION";
      @include tablet {
        display: none;
      }
    }
    @include tablet {
      width: 50%;
      justify-content: center;
      padding-bottom: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: 15%;
      height: 1.5rem;
      justify-content: flex-end;
    }
    // @include desktop {
    //     width: 10%;
    //     height: 1.5rem;
    //     justify-content: flex-end;
    // }
  }

  &__deleteicon {
    margin-right: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__editicon {
    &:hover {
      cursor: pointer;
    }
  }
}