@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as * ;


* {
  box-sizing: border-box;
  font-family: "Titillium";
  margin: 0;
  color: $globalText;
}

body {
  background-color: #F7F8F9;
  background: linear-gradient(to bottom,
          #232940 0%,
          #232940 25%,
          #F7F8F9 25%,
          #F7F8F9 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: max-content;

  @include tablet {
      background-color: #F7F8F9;
      background: linear-gradient(to bottom,
              #232940 0%,
              #232940 18.3%,
              #F7F8F9 18.3%,
              #F7F8F9 max-content);
  }
}
