
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;

.inventory {
  padding: 0px;
  &__wrap{
    padding: 0px;
  }

  &__categories {
    display: none;
    @include tablet {
      background-color: $pageBackground;
      height: 2.5rem;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__categoryAndArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21.25%;
    &-sort {
      cursor: pointer;
    }
    // @include desktop {
    //     width: 22.5%;
    // }
  }
  &__category {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $tableHeader;
    &--right {
      text-align: right;
      font-style: normal;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.125rem;
      width: 15%;
      color: $tableHeader;
      // @include desktop {
      //     width: 10%;
      // }
    }
  }
  &__sortArrow {
    padding-left: 0.25rem;
    height: 1rem;
  }
}